<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Главная страница</title>
</head>
<body>
<h1>Видео Проигрыватель</h1>

    <div style="margin-bottom: 20px;"> <!-- Добавьте отступ снизу, если нужно -->
        <a href="/upload" style="text-decoration: none; display: inline-flex; align-items: center;">
            <span style="font-size: 24px;">+</span> Загрузить
        </a>
    </div>

       <form method="POST">
           <input type="text" name="search" placeholder="Введите тег для поиска" value="{{ search_query }}">
           <button type="submit">Поиск</button>
       </form>

       {% for video in videos %}
           <div>
               <video width="320" height="240" controls>
                   <source src="{{ video.url }}" type="video/mp4">
                   Your browser does not support the video tag.
               </video>
               <p>Tags: {{ ', '.join(video.tags) }}</p>
           </div>
       {% endfor %}
</body>
</html>